/*---- variables ----*/
:root{
    /* fonts */
    --poppins:'Poppins', sans-serif;
    --barlow:'Barlow', sans-serif;
    --montseratt:'Montserrat', sans-serif;
    --rajdhani:'Rajdhani', sans-serif;
    /* colors */
    --color1:#1C1E25;
    --color2:#CC9B55;
    --h3_color:#1B1E24;
    --p_color:#7A797E;
    --h2_color:#000000;
    --star:#FEC300;
}

/*---- animations ----*/
@keyframes moveText{
    0%{transform:translateY(40rem) rotateY(-40deg);}
    100%{transform:translateY(0) rotate(0); opacity:1;}
}
@keyframes scale{
    0%{transform:scale(1);}
    50%{transform:scale(1.5);}
    100%{transform:scale(1);}
}
@keyframes moveNumber{
    0%{transform:translateY(-40rem) rotate(-20deg);}
    100%{transform:translateY(0rem) rotate(-90deg); opacity:1;}
}
@keyframes movePhone{
    0%{transform:translateY(-40rem) rotate(-20deg);}
    100%{transform:translateY(0rem) rotate(45deg); opacity:1;}
}
@keyframes moveMail{
    0%{transform:translateY(40rem) rotate(-20deg);}
    100%{transform:translateY(0rem) rotate(-90deg); opacity:1;}
}
@keyframes movePlane{
    0%{transform:translateY(40rem) rotate(-20deg);}
    100%{transform:translateY(0rem) rotate(0); opacity:1;}
}
@keyframes moveAddress{
    0%{transform:translateY(40rem) rotate(-20deg);}
    100%{transform:translateY(0rem) rotate(0); opacity:1;}
}
@keyframes moveMap{
    0%{transform:translateY(40rem) rotate(0);}
    100%{transform:translateY(0rem) rotate(90deg); opacity:1;}
}
@keyframes growCorner1{
    0%{height:0;}
    100%{height:180px;}
}
@keyframes growCorner2{
    0%{height:0;}
    100%{height:100px;}
}
@keyframes comeIcons{
    0%{transform:translateY(-40rem) rotate(20deg);}
    100%{transform:translateY(0rem) rotate(0); opacity:1;}
}
/*---- classes styles ----*/
body{
    background-color: #f0efef;
}
/* header */
header{
    height:100px;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    transition:0.4s;
    position: fixed;
    z-index:99;
}
.sidebar-btn{
    width:533px;
    height:100%;
    background-color: var(--color1);
    color:#fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--rajdhani);
    z-index:5;
}
.logo{
    margin-left:110px;
    cursor:context-menu;
    border:.1px solid rgba(255, 255, 255, 0.541);
    transition: .4s;
    padding:10px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
}
.logo-p3{
    font-size:10px;
    font-weight:lighter!important;
}
.sidebar-btn span{
    margin-right:75px;
    margin-left:5px;
    transition:all .4s;
    opacity:0;
    visibility: hidden;
}
.sidebar-click{
    margin-left:90px;
    height:30px;
    width:60px;
    cursor:pointer;
}
.btn-line{
    height:2px;
    width:100%;
    background-color:white;
    border-radius:1px;
    transition:0.2s;
}
.line1{
    width:50%;
    margin-left:100%;
    transform:translate(-100%);
    transform-origin:center;
}
.line3{
    width:50%;
}
.sidebar-click:hover ~span{
    visibility:visible;
    opacity: 1;
}
.header-icons{
    font-size:21px;
    width:200px;
    height:100%;
    margin-right:9%;
    display:flex;
    align-items: center;
    justify-content: space-around;
}
.header-icons a{
    color:#fff;
}
.change-header{
    height:80px;
    transition:0.4s;
}
.header-color{
    background-color: rgba(175, 175, 175, 0.493);
}
/* sidebar */
.sidebar{
    width:533px;
    height:100%;
    position:fixed;
    z-index:22;
    transform:translateX(-100%);
    transition:0.5s;
    background-color: var(--color1);
}
.show-sidebar{
    transform:translateX(0);
}
.menu{
    margin-top:150px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
}
.menu-link{
    color:#fff;
    font:500 21px var(--poppins);
}
.menu-item{
    height:80px;
    width:100%;
    transition:.3s;
    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;
}
.menu-item:hover{
    background-color:rgba(197, 197, 197, 0.363);
}
.menu-link:hover{
    color:#fff;
}
.cover-box{
    width:100%;
    position:fixed;;
    z-index:21;
    height:100vh;
    background-color:#0000008e;
    display:none;
}
.get-covered{
    display:block;
}
/* section1 */
.sec1-title{
    position:absolute;
    z-index:3;
    font-family:var(--barlow);
    text-shadow:0.3rem 0.3rem rgba(0,0,0,0.4);
    border-left:4px solid var(--color2);
    opacity:0;
    animation:moveText 1s 0.4s linear forwards;
    cursor:context-menu;
}
.sec1-title h1{
    font-weight:700;
    text-shadow:0.3rem 0.5rem rgba(0,0,0, 0.4);
    opacity:0;
    animation:moveText 1s 0.6s linear forwards;
}
.p1{
    opacity:0;
    animation:moveText 1s 0.7s linear forwards;
}
.p2{
    opacity:0;
    animation:moveText 1s 0.8s linear forwards;
}
.carousel{
    width:100%;
    height:100vh;
}
.carousel-item{
    width:100%;
    height:100vh;
    background-color: rgba(0, 0, 0, 0.774);
}
.carousel-item img{
    height:100%;
    width:100%;
    object-fit: cover;
    animation:scale 30s linear infinite;
    opacity: 0.5;
}
.lines{
    height:100%;
    width:calc(100% - 200px);
}
.line{
    height:2px;
    border-radius:1px;
    background-color:var(--color2);
}
.one{
    width:7%;
}
.carousel-indicators{
    width:60%;
}
.two{
    width:30%;
}
.three{
    width:70%;
    background-color:var(--p_color);
}
.numbers1{
    letter-spacing:.5rem;
}
.belowScroll{
    background-color:#15171C;
    height:100px;
    font-family: var(--rajdhani);
    letter-spacing:.3rem;
}
.belowScroll button{
    width:200px;
    border:none;
    height:100%;
    text-shadow:0.1rem .1rem rgba(0,0,0,0.5);
    transition:0.3s;
}
.belowScroll button:hover{
    text-shadow:none;
}
.activeColor{
    background-color: var(--color2)!important;
    opacity:1!important;
}
.leftCol{
    background-color: var(--color1);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.phone,
.mail-address{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    letter-spacing: .2rem;
    font-family:var(--rajdhani);
}
.phone a{
    height:fit-content;
    width:300px;
    font-size:10px;
    opacity:0;
    animation:moveNumber 1s 0.7s forwards;
}
.fa-phone{
    color:var(--color2);
    opacity:0;
    animation:movePhone 1s 0.8s forwards;
}
.corner-wrap1{
    width:50px;
    height:0;
    background-color: var(--h3_color);
    border:1px solid var(--color2);
    border-bottom-width: 5px;
    animation:growCorner1 1s 0.9s forwards;
}
.mail-address a{
    margin-bottom:160px;
    font-size:10px;
    width:300px;
    opacity:0;
    animation:moveMail 1s 0.7s forwards;
}
.fa-paper-plane{
    opacity:0;
    color:var(--color2);
    animation:movePlane 1s 1s forwards;
}
.corner-wrap2{
    width:50px;
    height:0;
    background-color: var(--h3_color);
    border:1px solid var(--color2);
    border-top-width:5px ;
    animation:growCorner2 1s 0.9s forwards;
}
.rightCol{
    background-color: var(--color2);
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
}
.rightCol a{
    color:#fff;
}
.social-icons{
    margin-top:110px;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    font-size:21px;
}
.social-icons a{
    border:1px solid #fff;
    transition:0.3s;
    opacity: 0;
}
.fb{
    animation:comeIcons 1s 0.9s forwards;
}
.tw{
    animation:comeIcons 1s 0.8s forwards;
}
.ytb{
    animation:comeIcons 1s 0.7s forwards;
}
.lnk{
    animation:comeIcons 1s 0.6s forwards;
}
.social-icons a:hover{
    color:rgba(255, 255, 255, 0.705);
}
.map-address{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
}
.map-address a{
    writing-mode:tb-rl;
    font:bolder 11px var(--rajdhani);
    letter-spacing: .3rem;
    margin-bottom:20px;
    opacity: 0;
    animation:moveAddress 1s 0.7s forwards;
}
.fa-map-marker{
    margin-bottom:30px;
    opacity:0;
    animation:moveMap 1s 0.8s forwards;
}
.corner-wrap3{
    height:0;
    width:50px;
    border:1px solid #fff;
    border-top-width:5px;
    animation:growCorner2 1s 0.9s forwards;
}
