/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@media(max-width:1200px){
    .sec1-title h1{
        font-size:41px;
    }
    .belowScroll p{
        font-size:12px;
    }
    .card-body h4{
        font-size:21px;
    }
    .card-body p{
        line-height: 24px;
    }
    .sec4-icons{
        font-size:11px!important;
    }
}
@media(max-width:992px){
    .card-box{
        width:90%;
    }
    .lines p{
        margin-left:10px
    }
}
@media(max-width:768px){
    .sidebar-btn{
        width:300px;
    }
    .logo{
        margin-left:20px;
    }
    .sidebar-click{
        margin-left:20px;
        width:40px;
    }
    .sidebar-btn span{
        font-size:9px;
        margin-right:0;
        margin-left:0;
    }
    .sidebar{
        width:300px;
    }
    .carousel,
    .carousel-item{
        height:70vh;
    }
    .sec1-title h1{
        font-size:32px;
    }
    .leftCol,
    .rightCol{
        height:120px;
        margin-top:0;
        -webkit-box-align: center!important;
            -ms-flex-align: center!important;
                align-items: center!important;
        -ms-flex-pack: distribute;
            justify-content: space-around;
        width:100%;
    }
    .phone,
    .mail-address,
    .social-icons,
    .map-address{
        -webkit-box-orient: horizontal!important;
        -webkit-box-direction: normal!important;
            -ms-flex-direction: row!important;
                flex-direction: row!important;
        -webkit-box-align: center!important;
            -ms-flex-align: center!important;
                align-items: center!important;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    @-webkit-keyframes noneAnim {
        0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);}
        100%{-webkit-transform:translateY(0rem) rotate(0);transform:translateY(0rem) rotate(0); opacity:1;}
    }
    @keyframes noneAnim {
        0%{-webkit-transform:translateY(0) rotate(0);transform:translateY(0) rotate(0);}
        100%{-webkit-transform:translateY(0rem) rotate(0);transform:translateY(0rem) rotate(0); opacity:1;}
    }
    .fa-phone ,
    .fa-phone,
    .corner-wrap1,
    .mail-address a,
    .fa-paper-plane,
    .corner-wrap1,
    .social-icons a,
    .fb, .tw, .ytb, .lnk,
    .map-address a,
    .fa-map-marker,
    .corner-wrap3,
    .phone a, 
    .map-address a{
        -webkit-animation: noneAnim 1s 0.5s forwards;
                animation: noneAnim 1s 0.5s forwards;
    }
    .corner-wrap1,
    .corner-wrap2,
    .corner-wrap3{
        display:none;
    }
    .gridRespo{
        display:-ms-grid;
        display:grid;
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        -ms-grid-rows: -webkit-fit-content 1fr 1fr;
        -ms-grid-rows: fit-content 1fr 1fr;
        grid-template-rows: -webkit-fit-content 1fr 1fr;
        grid-template-rows: fit-content 1fr 1fr;
    }
    .gridRespo > *:nth-child(1){
        -ms-grid-row:1;
        -ms-grid-column:1;
    }
    .gridRespo > *:nth-child(2){
        -ms-grid-row:2;
        -ms-grid-column:1;
    }
    .gridRespo > *:nth-child(3){
        -ms-grid-row:3;
        -ms-grid-column:1;
    }
    @-webkit-keyframes getRowOne {
        0%{-webkit-transform: translateX(-40rem);transform: translateX(-40rem);}
        100%{-webkit-transform: translateX(0);transform: translateX(0); opacity: 1;}
    }
    @keyframes getRowOne {
        0%{-webkit-transform: translateX(-40rem);transform: translateX(-40rem);}
        100%{-webkit-transform: translateX(0);transform: translateX(0); opacity: 1;}
    }
    @-webkit-keyframes getRowTwo {
        0%{-webkit-transform: translateX(40rem);transform: translateX(40rem);}
        100%{-webkit-transform: translateX(0);transform: translateX(0); opacity: 1;}
    }
    @keyframes getRowTwo {
        0%{-webkit-transform: translateX(40rem);transform: translateX(40rem);}
        100%{-webkit-transform: translateX(0);transform: translateX(0); opacity: 1;}
    }
    #sec1{
        overflow: hidden;
    }
    .leftCol{
        opacity: 0;
        -ms-grid-row:2;
        -ms-grid-row-span:1;
        -ms-grid-column:1;
        grid-area:2/1/3/1;
        -webkit-animation: getRowOne 1s .7s forwards;
                animation: getRowOne 1s .7s forwards;
    }
    .rightCol{
        -ms-grid-row: 3;
        -ms-grid-row-span: 1;
        -ms-grid-column: 1;
        grid-area: 3/1/4/1;
        -webkit-animation: getRowTwo 1s .8s forwards;
                animation: getRowTwo 1s .8s forwards;
    }
    .fa-phone{
        -webkit-transform:rotate(90deg)!important;
            -ms-transform:rotate(90deg)!important;
                transform:rotate(90deg)!important;
    }
    .phone a{
        width:150px;
        margin-left:10px;
    }
    .mail-address{
        -webkit-box-pack: center!important;
            -ms-flex-pack: center!important;
                justify-content: center!important;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        justify-content:center;
    }
    .mail-address a{
        width:200px;
        height:-webkit-fit-content;
        height:-moz-fit-content;
        height:fit-content;
        margin-bottom:0;
        margin-right:0;
    }
    .fa-map-marker{
        margin-bottom:0;
    }
    .map-address a{
        -webkit-writing-mode:horizontal-tb;
            -ms-writing-mode:lr-tb;
                writing-mode:horizontal-tb;
        margin-bottom:0;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    .social-icons{
        margin-top:0;
    }
    .bg-1-1{
        height:300px;
    }
    .border-box{
        height:200px;
    }
    .bg-1-text{
        height:120px;
    }
    .title-1-div1{
        margin-left:10px!important;
        padding-left:0!important;
        width:100%;
        width:95%;
    }
}
@media(max-width:556px){
    .header-icons{
        font-size:16px;
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    .header-icons a{
        margin-left:10px;
    }
    .card-box{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .card-img-wrap{
        width:100%;
    }
    .card{
        width:100%;
    }
    .btn-wrap{
        width:100%;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-align:center;
            -ms-flex-align:center;
                align-items:center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
}
@media(max-width:461px){
    header{
        height:70px;
        background-color: #1C1E25;
    }
    .header-icons{
        display:none;
    }
    .sidebar-btn{
        width:100%;
    }
    .sidebar-btn span{
        display:none;
    }
    .header-icons-sidebar{
        display:-webkit-box!important;
        display:-ms-flexbox!important;
        display:flex!important;
    }
    .menu-link{
        font-size:18px;
    }
    .menu-item{
        height:50px;
    }
    .menu{
        margin-top:110px;
    }
    .sidebar-click{
        margin-right:30px;
    }
    .sec1-title{
        border-left-width: 1.8px;
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .belowScroll{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .belowScroll button{
        position:absolute;
        height:50px;
        margin-top:75px;
    }
    .lines{
        width:95%;
    }
    .phone{
        margin-top:40px;
        margin-left:30px;
    }
    .mail-address{
        margin-bottom:20px;
    }
    .bg-1-text{
        font-size:14px;
        line-height: 16px;
        text-align: center;
        height:80px;
        padding-bottom:15px!important;
        padding-top:15px!important;
    }
    .bg-1-1{
        padding-left:15px!important;
        padding-bottom:15px!important;
        padding-top:15px!important;
        height:250px
    }
    .bg-1-wrap{
        margin-top:0!important;
    }
    .title-1-div1{
        margin-top:10px!important;
        margin-bottom:0!important;
    }
    .title-2-div1{
        padding-left:10px!important;
        padding-right:10px!important;
        margin-top:10px!important;
    }
    .v-more,
    .r-more{
        height:50px;
    }
    .box-content p{
        font-size:16px;
        margin-top:20px;
    }
    .box-content h3{
        font-size:19px!important;
    }
    .form-input-group  label{
        font-size:18px!important;
    }
    form button{
        height:50px;
    }
    .copyRight{
        font-size: 12px;
        line-height: 18px;
    }
}
@media(max-width:412px){
    .sec1-title{
        padding-left:5px!important;
    }
    .sec1-title h1{
        font-size:24px;
    }
    .title-1-div1 h1{
        font-size:22px;
    }
    .fa-heart,
    .fa-bookmark,
    .fa-share-alt{
        font-size:18px;
    }
    .card-header-box{
        width:30px;
        height:30px;
    }
}

/*responsive for sec3 scroll boxes */


@media(max-width:1221px){
    .active-box .card .card-body p{
        font-size:16px;
        line-height:26px;
    }
    .active-box .progressColor{
        font-size:21px;
    }
}
@media(max-width:1092px){
    #sec3{
        display:none;
    }
    #sec3-1{
        display:block;
    }
}
@media(max-width:665px){
    .card-container .card-header p{
        font-size:14px;
    }
    .card-container .card-body p{
       font-size:14px;
       line-height:16px;
    }
}
@media(max-width:431px){
    .card-container .card-header p{
        font-size:12px;
    }
    .card-container .card-body p{
       font-size:11px;
       line-height:14px;
    }
    .card-container .progress-bar{
        font-size:13px;
    }
    .card-container .card-header-box{
        width:60px;
    }
}
