@media(max-width:1200px){
    .sec1-title h1{
        font-size:41px;
    }
    .belowScroll p{
        font-size:12px;
    }
    .card-body h4{
        font-size:21px;
    }
    .card-body p{
        line-height: 24px;
    }
}
@media(max-width:992px){
    .card-box{
        width:90%;
    }
    .lines p{
        margin-left:10px
    }
}
@media(max-width:768px){
    .sidebar-btn{
        width:300px;
    }
    .logo{
        margin-left:20px;
    }
    .sidebar-click{
        margin-left:20px;
        width:40px;
    }
    .sidebar-btn span{
        font-size:9px;
        margin-right:0;
        margin-left:0;
    }
    .sidebar{
        width:300px;
    }
    .carousel,
    .carousel-item{
        height:70vh;
    }
    .sec1-title h1{
        font-size:32px;
    }
    .leftCol,
    .rightCol{
        height:120px;
        margin-top:0;
        align-items: center!important;
        justify-content: space-around;
        width:100%;
    }
    .phone,
    .mail-address,
    .social-icons,
    .map-address{
        flex-direction: row!important;
        align-items: center!important;
        width:fit-content;
    }
    @keyframes noneAnim {
        0%{transform:translateY(0) rotate(0);}
        100%{transform:translateY(0rem) rotate(0); opacity:1;}
    }
    .fa-phone ,
    .fa-phone,
    .corner-wrap1,
    .mail-address a,
    .fa-paper-plane,
    .corner-wrap1,
    .social-icons a,
    .fb, .tw, .ytb, .lnk,
    .map-address a,
    .fa-map-marker,
    .corner-wrap3,
    .phone a, 
    .map-address a{
        animation: noneAnim 1s 0.5s forwards;
    }
    .corner-wrap1,
    .corner-wrap2,
    .corner-wrap3{
        display:none;
    }
    .gridRespo{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: fit-content 1fr 1fr;
    }
    @keyframes getRowOne {
        0%{transform: translateX(-40rem);}
        100%{transform: translateX(0); opacity: 1;}
    }
    @keyframes getRowTwo {
        0%{transform: translateX(40rem);}
        100%{transform: translateX(0); opacity: 1;}
    }
    #sec1{
        overflow: hidden;
    }
    .leftCol{
        opacity: 0;
        grid-area:2/1/3/1;
        animation: getRowOne 1s .7s forwards;
    }
    .rightCol{
        grid-area: 3/1/4/1;
        animation: getRowTwo 1s .8s forwards;
    }
    .fa-phone{
        transform:rotate(90deg)!important;
    }
    .phone a{
        width:150px;
        margin-left:10px;
    }
    .mail-address{
        justify-content: center!important;
        width:fit-content;
        align-items: center;
        justify-content:center;
    }
    .mail-address a{
        width:200px;
        height:fit-content;
        margin-bottom:0;
        margin-right:0;
    }
    .fa-map-marker{
        margin-bottom:0;
    }
    .map-address a{
        writing-mode:horizontal-tb;
        margin-bottom:0;
        width:fit-content;
    }
    .social-icons{
        margin-top:0;
    }
    .bg-1-1{
        height:300px;
    }
    .border-box{
        height:200px;
    }
    .bg-1-text{
        height:120px;
    }
    .title-1-div1{
        margin-left:10px!important;
        padding-left:0!important;
        width:100%;
        width:95%;
    }
}
@media(max-width:556px){
    .header-icons{
        font-size:16px;
        width:fit-content;
    }
    .header-icons a{
        margin-left:10px;
    }
    .card-box{
        flex-direction: column;
    }
    .card-img-wrap{
        width:100%;
    }
    .card{
        width:100%;
    }
    .btn-wrap{
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
    }
}
@media(max-width:461px){
    header{
        height:70px;
        background-color: #1C1E25;
    }
    .header-icons{
        display:none;
    }
    .sidebar-btn{
        width:100%;
    }
    .sidebar-btn span{
        display:none;
    }
    .header-icons-sidebar{
        display:flex!important;
    }
    .menu-link{
        font-size:18px;
    }
    .menu-item{
        height:50px;
    }
    .menu{
        margin-top:110px;
    }
    .sidebar-click{
        margin-right:30px;
    }
    .sec1-title{
        border-left-width: 1.8px;
        padding-top:0!important;
        padding-bottom:0!important;
    }
    .belowScroll{
        flex-direction: column;
    }
    .belowScroll button{
        position:absolute;
        height:50px;
        margin-top:75px;
    }
    .lines{
        width:95%;
    }
    .phone{
        margin-top:40px;
        margin-left:30px;
    }
    .mail-address{
        margin-bottom:20px;
    }
    .bg-1-text{
        font-size:14px;
        line-height: 16px;
        text-align: center;
        height:80px;
        padding-bottom:15px!important;
        padding-top:15px!important;
    }
    .bg-1-1{
        padding-left:15px!important;
        padding-bottom:15px!important;
        padding-top:15px!important;
        height:250px
    }
    .bg-1-wrap{
        margin-top:0!important;
    }
    .title-1-div1{
        margin-top:10px!important;
        margin-bottom:0!important;
    }
    .title-2-div1{
        padding-left:10px!important;
        padding-right:10px!important;
        margin-top:10px!important;
    }
    .v-more{
        height:50px;
    }
}
@media(max-width:412px){
    .sec1-title{
        padding-left:5px!important;
    }
    .sec1-title h1{
        font-size:24px;
    }
    .title-1-div1 h1{
        font-size:22px;
    }
    .fa-heart,
    .fa-bookmark,
    .fa-share-alt{
        font-size:18px;
    }
    .card-header-box{
        width:30px;
        height:30px;
    }
}

/*responsive for sec3 scroll boxes */


@media(max-width:1221px){
    .active-box .card .card-body p{
        font-size:16px;
        line-height:26px;
    }
    .active-box .progressColor{
        font-size:21px;
    }
}
@media(max-width:1092px){
    #sec3{
        display:none;
    }
    #sec3-1{
        display:block;
    }
}
@media(max-width:665px){
    .card-container .card-header p{
        font-size:14px;
    }
    .card-container .card-body p{
       font-size:14px;
       line-height:16px;
    }
}
@media(max-width:431px){
    .card-container .card-header p{
        font-size:12px;
    }
    .card-container .card-body p{
       font-size:11px;
       line-height:14px;
    }
    .card-container .progress-bar{
        font-size:13px;
    }
    .card-container .card-header-box{
        width:60px;
    }
}
